    a{
        text-decoration: none !important;
    }
/*ADMIN LAYOUT*/
    body{
        background: #ffffff;
        margin: 0px;
        padding: 0px;
    }
    .admin-content{
        margin-left: 300px;
        color:#34495e;
        font-size: large;
    }
    .page-header-wrapper{
        border-bottom: 1px solid #34495e;
    }
    .page-content-wrapper{
        margin-top:20px;
    }
    .nav-side-menu {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
        font-size: large;
        background-color: #364252;
        position: absolute;
        width: 300px;
        height: 100%;
        color: #ffffff;
        -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    }
    .nav-side-menu .brand {
        background-color: #2c3643;
        display: block;
        text-align: center;
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }
    .nav-side-menu .toggle-btn {
        display: none;
    }
    .nav-side-menu ul,
    .nav-side-menu li {
        list-style: none;
        padding: 0px;
        margin: 0px;
        cursor: pointer;
        text-indent: 10px;
        line-height: 50px;
    }
    .nav-side-menu ul .collapsed .arrow:before,
    .nav-side-menu li .collapsed .arrow:before {
        font-family: FontAwesome;
        content: "\f053";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
        float: right;
    }
    .nav-side-menu ul :not(collapsed) .arrow:before,
    .nav-side-menu li :not(collapsed) .arrow:before {
        font-family: FontAwesome;
        content: "\f078";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
        float: right;
    }
    .nav-side-menu ul .active,
    .nav-side-menu li .active {
        border-left: 3px solid #44b6ae;
        background-color: #5e7390;
    }
    .nav-side-menu ul .sub-menu li.active,
    .nav-side-menu li .sub-menu li.active {
        color: #1AAE98;
    }
    .nav-side-menu ul .sub-menu li,
    .nav-side-menu li .sub-menu li {
        background-color: #222933;
        border: none;
        line-height: 28px;
        border-bottom: 1px solid #2c3643;
        margin-left: 0px;
    }
    .nav-side-menu ul .sub-menu li:hover,
    .nav-side-menu li .sub-menu li:hover {
        background-color: #364252;
    }
    .nav-side-menu ul .sub-menu li:before,
    .nav-side-menu li .sub-menu li:before {
        font-family: FontAwesome;
        content: "\f105";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
    }
    .nav-side-menu ul .sub-sub-menu li:before,
    .nav-side-menu li .sub-sub-menu li:before {
        font-family: FontAwesome;
        content: "\f105 \f105";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
    }

    .nav-side-menu li {
        padding-left: 0px;
        border-left: 3px solid #364252;
        border-bottom: 1px solid #2c3643;
    }
    .nav-side-menu li a {
        text-decoration: none;
        color: #e7e7e7;
    }
    .nav-side-menu li a i {
        padding-left: 10px;
        width: 20px;
        padding-right: 20px;
    }
    .nav-side-menu li:hover {
        border-left: 3px solid #FFF;
        background-color: #5e7390;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
/*END OF ADMIN LAYOUT*/

/*ADMIN PANEL - ADD MODAL*/
    .modal-header{
        background:  #34495e;
        border-bottom: 1px solid #E99700;
    }
    .modal-title{
        color: #ecf0f1;
        font-weight: 900;
    }
    .modal-body{
        background-color: #34495e;
    }
    .close {
        font-size: 25px;
        font-weight: 900;
        color: #ecf0f1;
    }
    .close:hover,
    .close:active{
        color: #ecf0f1;
    }
    .btn-create{
        margin-top:30px;
        margin-bottom: 10px;
    }
    .mbottom10px{
        margin-bottom:10px;
    }
    .modal-dialog{
        background-color: #E99700;
    }
    .modal-content{
        background-color: #E99700;
    }
    .btn-orange{
        background-color: #E99700;
        color: #ffffff;
    }
/*END ADMIN PANEL - ADD MODAL*/

/*ADMIN PANEL*/
    #admin-top-belt{
        height: 60px;
        color: #7b7979;
        font-size: 35px;
        font-weight: bolder;
        font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
        background-color:#ffffff;
        padding-left: 20px;
        -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    }
/*END OF ADMIN PANEL*/

/*COMPANY-BUTTON IN COMPANY LIST*/
    .sqr-col {
        text-align: center;
        color: black;
        border: 2px solid #34495e;
        -webkit-box-shadow: 0px 2px 11px 3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 11px 3px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 11px 3px rgba(0,0,0,0.75);
    }
    .col-md-2 > a:hover{
        cursor: hand;
    }
    .col-md-2 > a:active .sqr-col{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
/*END COMPANY-BUTTON IN COMPANY LIST*/

/*COMPANY SHOW*/
    .comp-show-wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .comp-show-content{
        position: relative;
        top: 40%;
    }
    .comp-show{
        background: white;
        width:60%;
        left:20%;
        right:20%;
        transform: translate(-0%, -30%);
        height: 100%;
        padding-left: 0px;
        padding-right: 0px;
        -webkit-box-shadow: 1px 3px 11px 9px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 3px 11px 9px rgba(0,0,0,0.75);
        box-shadow: 1px 3px 11px 9px rgba(0,0,0,0.75);
    }
    .comp-show-details{
        padding-top:10px;
        line-height: 25px;
        list-style-type: none;
        color: #34495e;
        font-size: 20px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    }
    #comp-show-header{
        color: #34495e;
        font-size: 35px;
        font-weight: bolder;
    }
    #comp-show-desc{
        font-size: 20px;
        font-style: italic;
    }
    .comp-show-details > li{
        font-size: 30px;
        margin-top:20px;
        width:100%;
    }

    .comp-show-details li::before {
        margin-left: -37px;
        line-height: 50px;

    }
    .details-sub{
        margin-top:20px;
        list-style-type: none;
        margin-left: -37px;
    }
    .comp-show-details >.details-sub li::before {
        line-height: 50px;
    }
    #comp-details-note {
        background: #f5f5f5;
    }
    #details-sub-togglable{
        list-style-type: none;
        line-height: 30px;
    }
    #right-container{
        position: relative;
        height:100%;
        margin-top:11%;
        margin-bottom:11%;
        padding-left:5%;
        border-left: 2px solid #34495e;
        font-size: 20px;
        font-style: italic;
    }
    .users-list, .product-list{
        margin-top:5%;
        padding-left: 0px;
    }
    .right-cont{
        display: none;
        width:100%;
    }
    .form-usr-add{
        display: none;
        color: #34495e;
        font-size: 20px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    }

/* END OF COMPANY SHOW*/

@media (max-width: 767px) {

/*ADMIN LAYOUT*/
    .admin-content{
        margin-left: 0px;
        margin-bottom: 50px;
        color:#34495e;
        font-size: large;
    }
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
    #admin-top-belt{
        display: none;
    }
    .page-header-wrapper{
        border-bottom: 1px solid #34495e;
    }
    .page-content-wrapper{
        margin-top:20px;
    }
/*END ADMIN LAYOUT*/

/*COMPANY SHOW*/
    .comp-show{
        width:100%;
        left:0%;
    }
    .details-sub{
        margin-top:20px;
        list-style-type: none;
        margin-left: -37px;
    }
    .comp-show-details >.details-sub li::before {
        line-height: 50px;
    }
    .comp-show-details-address{
        margin-left:30px;
    }
    .comp-show-details{
        padding-top:10px;
        line-height: 25px;
        list-style-type: none;
        color: #34495e;
        font-size: 20px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;

    }
    .comp-show-details > li{
        font-size: 30px;
        margin-top:20px;
        width:100%;
    }

    .comp-show-details li::before {
        margin-left: -37px;
        line-height: 50px;

    }
    #comp-show-header{
        color: #34495e;
        font-size: 35px;
        font-weight: bolder;
    }
    #comp-show-desc{
        font-size: 20px;
        font-style: italic;
    }
    #comp-details-note{
        background: #f5f5f5;
    }
    p{
        margin-bottom: 0px;
    }
/* END OF COMPANY SHOW*/
}
/*END max-width: 767px*/

@media (min-width: 767px) {

    /*ADMIN LAYOUT*/
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
    body {
        margin: 0px;
        padding: 0px;
    }
    /* END OF ADMIN LAYOUT*/
}
/*END min-width: 767px*/



